body {
    font-family: Calibri, serif;
}

header {
    background-color: antiquewhite;
}

.content {
    background-color: aliceblue;
}

.contact {
    display: block;
}

footer {
    background-color: burlywood;
}